

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get To Know Joel</h1>
<br />
<br />
<h3>Come see me perform</h3>
<a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
<br />
<br />
<h3>Listen to my podcast</h3>
<a href="https://baconsale.com/" target="_blank">Baconsale</a>
<br />
<br/>
<a href="http://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" alt="BaconSale Crew" width="300" height="300"/>
</a>

